---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Numerify, 모든 계산을 한 곳에서!">
  <div>
    <h1>환영합니다!</h1>
    <p>
      이곳은 다양한 계산 기능을 제공하는 웹사이트입니다. 필요한 계산기를
      선택하여 사용해 보세요.
    </p>
  </div>
</Layout>
