---
// src/components/Footer.astro
const currentYear = new Date().getFullYear();
---

<footer class="text-center p-4 mt-auto text-gray-500">
  <p>&copy; {currentYear} Numerify. All rights reserved.</p>
</footer>
