---
// src/components/Header.astro
import LanguageSelector from "./LanguageSelector.tsx";
---

<header class="flex justify-between items-center p-4
  border-b border-gray-200">
  <a href="/" class="text-2xl font-bold text-[#BF211E]"> Numerify </a>

  <div class="flex items-center gap-4">
    <LanguageSelector client:load />

    <div id="theme-toggle-container"></div>
  </div>
</header>
