---
// src/layouts/Layout.astro
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css"; // ❗️ 이 줄을 추가합니다.

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="각종 편의성 계산기 웹사이트" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-50">
    <Header />
    <main class="flex-grow container mx-auto p-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    font-family: "Pretendard", sans-serif;
  }
</style>
